* {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.container {
  background-color: rgb(2, 151, 2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 90%;
  min-width: 350px;
  max-width: 800px;
  height: 580px;
  padding: 20px;
  box-shadow: 20px 20px 25px 5px rgb(0, 52, 0);
}

.winner {
  margin-top: 40px;
  margin-bottom: 0;
}

button:hover {
  color: whitesmoke;
  background-color: black;
}

button {
  cursor: pointer;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 5px;
  background-color: antiquewhite;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

button:disabled {
  cursor: not-allowed;
}

.btn {
  width: 120px;
  height: 90px;
  padding: 10px;
  margin: 10px;
}

.btns {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

button,
.game-stats,
.winner {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.game-stats,
.winner {
  color: whitesmoke;
}

div.card-slot,
img {
  width: 100px;
  height: 139px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.cards {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 40px;
}

@media (min-width: 34em) {
  .btn {
    width: 180px;
    height: 60px;
  }

  div.card-slot,
  img {
    width: 150px;
    height: 220px;
  }

  .winner {
    margin-top: 35px;
  }

  .cards {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 50px;
    margin: 0 auto;
  }
  div.card-slot,
  img {
    margin-left: 30px;
    margin-right: 30px;
  }
}
